<!DOCTYPE html>
<html class=" w-mod-js" data-wf-status="1" data-wf-site="5ca1762ab7e3ed999e21008c"
    data-wf-page="5ca1762ab7e3edabd021008d" data-wf-domain="courses-page.webflow.io">

<head>
    <title>Classroom</title>
    <link rel="stylesheet" href="stylesheets/Classroom.css">
    <link rel="stylesheet" href="..\node_modules\bootstrap\dist\css\bootstrap.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/courses.css">

</head>

<body class="body">
    <div id="mySidenav" class="sidenav">
        <div class="div-block-16">
            <div class="div-block-15"><img class="image-5" alt=""
                    src="https://uploads-ssl.webflow.com/5ca1762ab7e3ed999e21008c/5ca2ad8a40d2285e4df95415_molecule.png">
            </div>
            <div class="div-block-17">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            </div>
        </div>
        <div class="div-block-19">
            <div class="div-block-20"><img class="image-4" alt="Gravartar"
                    src="https://uploads-ssl.webflow.com/5ca1762ab7e3ed999e21008c/5ca2aeb75d56d6bd61640fdd_man.png">
            </div>
            <div class="text-block-8">Azeez Lukman</div><a class="link" href="#">View Profile</a>
        </div>
        <div class="div-block-18">
            <div class="dropdown w-dropdown" data-delay="0">
                <div class="dropdown-toggle w-dropdown-toggle">
                    <div class="icon w-icon-dropdown-toggle"></div>
                    <div class="text-block-7">Lessons</div>
                </div>
                <nav class="w-dropdown-list">
                    <a class="w-dropdown-link">Intro to mathematics</a>
                    <a class="w-dropdown-link2">Additon</a>
                    <a class="w-dropdown-link">Subtraction</a>
                    <a class="w-dropdown-link">Division</a>
                    <a class="w-dropdown-link">Multiplication</a>
                    <a class="w-dropdown-link">BODMAS</a>
                    <a class="w-dropdown-link">Ispum</a>
                    <a class="w-dropdown-link">Amet</a>
                    <a class="w-dropdown-link">Addition</a>
                    <a class="w-dropdown-link">Subtraction</a>
                </nav>
            </div>
            <div class="text-block-5">Notes</div>
            <div class="text-block-6">Take Quiz</div>
        </div>
    </div>
    <div class="navbar w-nav" data-collapse="medium" data-animation="default" data-duration="400">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

        <div class="div-block-14">
            <a class="w-nav-brand" href="#"><img width="62" class="image-3" alt=""
                    src="https://uploads-ssl.webflow.com/5ca1762ab7e3ed999e21008c/5ca2ad8a40d2285e4df95415_molecule.png"></a><a
                class="w-nav-link" href="#">
            </a>
            <nav class="nav-menu w-nav-menu" role="navigation">
                <form class="search w-form" action="/search"><input name="query" class="search-input w-input"
                        id="search" required="" type="search" maxlength="256" placeholder="Search Courses...">
                    <button class="w-button" type="submit"> <i class="fas fa-search"></i>
                    </button>
                </form>
                <div class="div-block-8">
                    <i class="far fa-bell nav-icon"></i>
                </div>
                <div class="div-block-8"><img alt=""
                        src="https://uploads-ssl.webflow.com/5ca1762ab7e3ed999e21008c/5ca2aeb75d56d6bd61640fdd_man.png">
                </div>
            </nav>
            <div class="w-nav-button">
                <div class="w-icon-nav-menu"></div>
            </div>
        </div>
        <div class="w-nav-overlay" data-wf-ignore=""></div>
    </div>
    <div class="main">

        <div class="container" id="conc">
            <div class="w-layout-grid"><img class="image-6" id="w-node-f6af76b0aae1-d021008d" alt=""
                    src="https://uploads-ssl.webflow.com/5ca1762ab7e3ed999e21008c/5ca4161165a85aed8dabd5f2_MNP-Blog_Hero_6-Things-I-Learned-After-2-Days-With-Ban-Har.jpg"
                    srcset="https://uploads-ssl.webflow.com/5ca1762ab7e3ed999e21008c/5ca4161165a85aed8dabd5f2_MNP-Blog_Hero_6-Things-I-Learned-After-2-Days-With-Ban-Har-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5ca1762ab7e3ed999e21008c/5ca4161165a85aed8dabd5f2_MNP-Blog_Hero_6-Things-I-Learned-After-2-Days-With-Ban-Har.jpg 1141w"
                    sizes="(max-width: 767px) 98vw, 512.078125px">
                <div class="div-block-24" id="w-node-d861e9325a6a-d021008d">
                    <h4>Intro Workshop: Teaching Math for Mastery</h4>
                    <h5 class="heading-2">Learn the essentials you need to make math mastery happen</h5>
                    <p>This April, join math mastery experts for an in-depth workshop. Over the course of a few
                        hours,
                        you’ll gain a strong understanding of the concepts, strategies, and skills needed to make
                        math
                        mastery happen in your school. You’ll leave inspired and equipped to introduce proven
                        strategies
                        in your school — right away.The best part? No prior experience with MNP or math mastery is
                        required! We’ve designed this workshop to cater to <strong><em>anyone</em></strong> looking
                        to
                        make the right math changes in their school. Wherever you’re at on your math journey, we’re
                        excited to have you.</p>
                    <div class="div-block-21">
                        <div>
                            <div>Duration</div>
                            <div>5 Weeks</div>
                        </div>
                        <div>
                            <div>Category</div>
                            <div>Mathematics</div>
                        </div>
                        <div>
                            <div>Rank</div>
                            <div>Five Stars</div>
                        </div>
                    </div>
                </div>
                <div id="w-node-fa05b76753b7-d021008d">
                    <h4 class="heading-3">13 Videos 4 tests</h4>
                    <ol>
                        <li class="list-item">Intro to mathematics</li>
                        <li class="list-item-2">Additon</li>
                        <li class="list-item-3">Subtraction</li>
                        <li class="list-item-4">Division</li>
                        <li class="list-item-5">Multiplication</li>
                        <li class="list-item-6">BODMAS</li>
                        <li class="list-item-8">Ispum</li>
                        <li class="list-item-11">Amet</li>
                        <li class="list-item-10">Addition</li>
                        <li class="list-item-12">Subtraction</li>
                    </ol>
                </div>
                <div id="w-node-b0166dbdd8cb-d021008d">
                    <div class="div-block-22">
                        <div>Video</div><a href="#">Goto Classroom</a>
                    </div>
                    <div class="div-block-23"><img class="image-7" alt=""
                            src="https://uploads-ssl.webflow.com/5ca1762ab7e3ed999e21008c/5ca416892e5a6c6a98afd0cb_video-icon.png">
                    </div>
                    <div class="div-block-25"><a class="link-2" href="#">Check other courses</a></div>
                </div>

            </div>
        </div>
    </div>

</body>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
        // document.getElementById("conc").classList.add("w-col-9");
        // document.getElementById("conc").classList.add("column-2");
        // document.getElementById("conc").classList.add("w-col");
        // document.getElementById("conc").classList.add("w-col-stack");

        // document.getElementById("main").style.marginLeft = "300px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>

</html>