<!DOCTYPE html>
<<<<<<< HEAD
<<<<<<< HEAD <html class="w-mod-js wf-inconsolata-n4-active wf-inconsolata-n7-active wf-active" data-wf-status="1" data-wf-site="5c961db7e450bb0ce0794728" data-wf-page="5c961db7e450bb6470794729" data-wf-domain="azeezs-first-project-74b0b6.webflow.io">

    <head>
        <link rel="stylesheet" href="stylesheets/login.css">
        <title>Sign In</title>
        =======
        <html>

        <head>
            <link rel="stylesheet" href="styles/login.css">
            <title>Sign In</title>
            <link rel="shortcut icon" href="images/molecule.png" type="image/png"> >>>>>>> Frontend

        </head>

        <body class="body">
            <div class="container w-container">
                <div class="div-block-17">
                    <div class="columns w-row">
                        <div class="column w-col w-col-6">
                            <div class="div-block-13"><img width="30" class="image" alt="" src="images/molecule.png">
                            </div>
                            <div class="div-block-15">
                                <h1 class="heading-2">Sign in to CAI</h1>
                                <div class="div-block-14">
                                    <div class="div-block-16"><img alt="" src="images/google-plus.png">
                                    </div>
                                    <div class="div-block-16"><img alt="" src="images/linkedin.png">
                                    </div>
                                    <div class="div-block-16"><img alt="" src="images/facebook.png">
                                    </div>
                                </div>
                                <div class="text-block-6">Create an account with your Email</div>
                                <div class="form-block w-form">
                                    <!-- <form action="/login/student" method="POST">
=======
<html class="w-mod-js wf-inconsolata-n4-active wf-inconsolata-n7-active wf-active" data-wf-status="1" data-wf-site="5c961db7e450bb0ce0794728" data-wf-page="5c961db7e450bb6470794729" data-wf-domain="azeezs-first-project-74b0b6.webflow.io">

<head>
    <link rel="stylesheet" href="styles/login.css">
    <title>Sign In</title>

    <html>

    <head>
        <link rel="stylesheet" href="styles/login.css">
        <title>Sign In</title>
        <link rel="shortcut icon" href="images/molecule.png" type="image/png">

    </head>

    <body class="body">
        <div class="container w-container">
            <div class="div-block-17">
                <div class="columns w-row">
                    <div class="column w-col w-col-6">
                        <div class="div-block-13"><img width="30" class="image" alt="" src="images/molecule.png">
                        </div>
                        <div class="div-block-15">
                            <h1 class="heading-2">Sign in to CAI</h1>
                            <div class="div-block-14">
                                <div class="div-block-16"><img alt="" src="images/google-plus.png">
                                </div>
                                <div class="div-block-16"><img alt="" src="images/linkedin.png">
                                </div>
                                <div class="div-block-16"><img alt="" src="images/facebook.png">
                                </div>
                            </div>
                            <div class="text-block-6">Create an account with your Email</div>
                            <div class="form-block w-form">
                                <!-- <form action="/login/student" method="POST">
>>>>>>> Robogiek_2
                                <input name="email" class="text-field-2 w-input" type="email" placeholder="Email">
                                <input name="Password" class="text-field-3 w-input" type="password" placeholder="Password">
                                <input class="submit-button w-button" type="submit" value="SIGN IN">
                            </form> -->
<<<<<<< HEAD
                                    <span><%= loginError%></span>
                                    <span><%= passwordError%></span>
                                    <form action="/login/student" method="POST">
                                        <input id="first-name" class="text-field-2 w-input" type="text" name="email" placeholder="Email">
                                        <input id="first-name" class="text-field-3 w-input" type="password" name="password" placeholder="password">
                                        <input type="submit" class="submit-button w-button" value="SIGNIN">
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="column-2 w-col w-col-6">
                            <div class="column-overlay">
                                <div class="div-block-12">
                                    <h1 class="heading"><strong class="bold-text-4">Welcome Back!</strong></h1>
                                    <p class="paragraph">Login with your personal details to pickup where you Left</p><a class="button w-button" href="/register">SIGN&nbsp;UP</a>
                                </div>
=======
                                <span><%= loginError%></span>
                                <span><%= passwordError%></span>
                                <form action="/login/student" method="POST">
                                    <input id="first-name" class="text-field-2 w-input" type="text" name="email" placeholder="Email">
                                    <input id="first-name" class="text-field-3 w-input" type="password" name="password" placeholder="password">
                                    <input type="submit" class="submit-button w-button" value="SIGNIN">
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="column-2 w-col w-col-6">
                        <div class="column-overlay">
                            <div class="div-block-12">
                                <h1 class="heading"><strong class="bold-text-4">Welcome Back!</strong></h1>
                                <p class="paragraph">Login with your personal details to pickup where you Left</p><a class="button w-button" href="/register">SIGN&nbsp;UP</a>
>>>>>>> Robogiek_2
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<<<<<<< HEAD

        </body>

        </html>
=======
        </div>

    </body>

    </html>
>>>>>>> Robogiek_2
