<!DOCTYPE html>
<html class="w-mod-js wf-inconsolata-n4-active wf-inconsolata-n7-active wf-active" data-wf-status="1" data-wf-site="5c961db7e450bb0ce0794728" data-wf-page="5c961db7e450bb6470794729" data-wf-domain="azeezs-first-project-74b0b6.webflow.io">

<head>
    <link rel="stylesheet" href="../stylesheets/register.css">
    <title>Register</title>
</head>

<body class="body">
    <div class="container w-container">
        <div class="div-block-17">
            <div class="columns w-row">
                <div class="column w-col w-col-6">
                    <div class="column-overlay">
                        <div class="div-block-13"><img width="30" class="image" alt="" src="images/molecule.png">
                        </div>
                        <div class="div-block-12">
                            <h1 class="heading"><strong class="bold-text-4">Welcome!</strong></h1>
                            <p class="paragraph">To continue to your dashboard please login with your personal details</p><a class="button w-button" href="/login">SIGN&nbsp;IN</a>
                        </div>
                    </div>
                </div>
                <div class="column-2 w-col w-col-6">
                    <div class="div-block-15">
                        <h1 class="heading-2">Create Account</h1>
                        <div class="div-block-14">
                            <div class="div-block-16"><img alt="" src="images/google-plus.png">
                            </div>
                            <div class="div-block-16"><img alt="" src="images/linkedin.png">
                            </div>
                            <div class="div-block-16"><img alt="" src="images/facebook.png">
                            </div>
                        </div>
                        <div class="text-block-6">Create an account with your Email</div>
                        <div class="form-block w-form">
                            <!-- <form action="/register/students" name="wf-form-Login-Form" class="form w-clearfix" id="wf-form-Login-Form" method="POST">
                                <input name="name" class="text-field w-input" id="name" type="text" maxlength="256" placeholder="Name">
                                <input name="email" class="text-field-2 w-input" id="email" required="" type="email" maxlength="256" placeholder="Email">
                                <input name="Password" class="text-field-3 w-input" id="Password" required="" type="password" maxlength="256" placeholder="Password">
                                <input class="submit-button w-button" type="submit" value="SIGN UP">
                            </form> -->
                            <span><%= existence %></span>
                            <form action="/register/students" method="post">
                                <input id="first-name" class="input100" type="text" name="name" placeholder="name">
                                <input id="first-name" class="input100" type="text" name="email" placeholder="Email">
                                <input id="first-name" class="input100" type="text" name="password" placeholder="password">
                                <input type="submit" value="submission">




                            </form>
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>