* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.body {
    margin-top: 0px;
    border: 1px none #000;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    height: 100%;
}

.w-nav {
    position: relative;
    background: #dddddd;
    z-index: 100;
    height: 75px;
}

.navbar {
    background-color: hsla(212, 22%, 22%, 1);
    color: #f3eded;
}

.div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    height: 42px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border: 1px none #000;
    border-radius: 10px;
}

.div-block-13 {
    margin-top: 30px;
    margin-right: 80px;
    margin-left: 80px;
}

.section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsla(212, 22%, 22%, 1);
    color: #958e8e;
}

a {
    background-color: transparent;
}

img {
    border: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.w-webflow-badge,
.w-webflow-badge * {
    position: static;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    z-index: auto;
    display: block;
    visibility: visible;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    box-sizing: border-box;
    width: auto;
    height: auto;
    max-height: none;
    max-width: none;
    min-height: 0px;
    min-width: 0px;
    margin: 0;
    padding: 0;
    float: none;
    clear: none;
    border: 0 none transparent;
    border-radius: 0;
    background: none;
    background-image: none;
    background-position: 0 0;
    background-size: auto auto;
    background-repeat: repeat;
    background-origin: padding-box;
    background-clip: border-box;
    background-attachment: scroll;
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    transform: none;
    transition: none;
    direction: ltr;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: inherit;
    font-variant: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    text-decoration: inherit;
    text-indent: 0px;
    text-transform: inherit;
    list-style-type: disc;
    text-shadow: none;
    font-smoothing: auto;
    vertical-align: baseline;
    cursor: inherit;
    white-space: inherit;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
}

.w-webflow-badge {
    position: fixed !important;
    display: inline-block !important;
    visibility: visible !important;
    z-index: 2147483647 !important;
    top: auto !important;
    right: 12px !important;
    bottom: 12px !important;
    left: auto !important;
    color: #aaadb0 !important;
    background-color: #fff !important;
    border-radius: 3px !important;
    padding: 6px 8px 6px 6px !important;
    font-size: 12px !important;
    opacity: 1 !important;
    line-height: 14px !important;
    text-decoration: none !important;
    transform: none !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
    overflow: visible !important;
    white-space: nowrap;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.w-webflow-badge>img {
    display: inline-block !important;
    visibility: visible !important;
    opacity: 1 !important;
    vertical-align: middle !important;
}

.div-block-10 {
    margin-left: 30px;
}

.div-block-11 {
    margin-left: 30px;
}

.div-block-12 {
    margin-left: 30px;
}

.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.grid-3 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.div-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -23px;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.div-block-4 {
    width: 276px;
    margin-top: 30px;
}

.div-block-2 {
    width: 275px;
    height: 150px;
}

.div-block {
    width: 276px;
    height: auto;
    margin-top: -10px;
    margin-left: 0px;
    padding: 0px 10px 10px;
    border: 1px none #000;
    border-radius: 0px 0px 5px 5px;
    background-color: #ededed;
}

.div-block-3 {
    height: auto;
    margin-top: 10px;
}

input {
    line-height: normal;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898ec;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.button {
    width: 100%;
    text-align: center;
}

b,
strong {
    font-weight: bold;
}

.grid {
    grid-row-gap: 14px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 14px 36px;
    grid-template-rows: auto 36px;
}

.text-block {
    font-weight: 700;
}

#w-node-c6aef548e880-d021008d {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

.text-block-2 {
    font-weight: 700;
}

#w-node-c6aef548e882-d021008d {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#w-node-c6aef548e884-d021008d {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

.text-block-3 {
    font-weight: 700;
}

#w-node-c6aef548e886-d021008d {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.paragraph-2 {
    padding-top: 10px;
    text-decoration: underline;
    text-transform: uppercase;
}

.paragraph {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.image-2 {
    width: 275px;
    height: 150px;
}

.div-block-6 {
    width: 320px;
    height: 42px;
    border: 1px none #000;
    border-radius: 1px;
}

.button-2 {
    width: 100%;
    height: 100%;
    border-style: none solid none none;
    border-width: 1px;
    border-color: #000;
    border-radius: 0px;
    background-color: #8836ec;
    font-weight: 700;
    text-align: center;
}

.text-block-4 {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.paragraph-3 {
    font-size: 17px;
    text-align: center;
}

.div-block-14 {
    margin-right: 20px;
    margin-left: 20px;
}

.w-nav-overlay {
    position: absolute;
    overflow: hidden;
    display: none;
    top: 100%;
    left: 0px;
    right: 0px;
    width: 100%;
}

.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}

.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

.w-nav-menu {
    position: relative;
    float: right;
}

.nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin-top: 5px;
}

.w-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[class^='w-icon-'],
[class*=' w-icon-'] {
    font-family: "webflow-icons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.w-form {
    margin: 0 0 15px;
}

.search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 11px;
}

.div-block-8 {
    width: 60px;
    height: 60px;
}

.nav-icon{
    font-size: 40px;
    margin: 15px 15px 15px;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.w-input,
.w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
  
    font-size: 14px;
    line-height: 1.4285;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.search-input {
    width: 200px;
}

input[type='search'] {
    -webkit-appearance: none;
}

input.w-button {
    -webkit-appearance: button;
}

.text-span-2 {
    color: #e5dcdc;
}

.image-3 {
    margin-top: 6px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto  auto auto;
}