<!DOCTYPE html>
<html>

<head>
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>create topics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <%- include('../partials/cmsHead.ejs') %>


</head>

<body class="animsition">
    <div class="page-wrapper">

        <%- include('../partials/cmsHeader.ejs') %>
        <%- include('../partials/sideNav.ejs') %>


        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <!-- <div class="col-md-12"> -->
                            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                                <div
                                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3">
                                    <h1 class="h2 rw"><span class="text-info">add new topics</span></h1>
                                    <a href="/topic" class="btn btn-success pull-right"><i
                                            class="fa fa-caret-left pr-2"> </i>Back to List</a>
                                </div>
                                <!-- FORM -->
                                <form action="/add_topic" method="post" class="col-lg-10 col-md-10 col-sm-10 col-xs-10"
                                    enctype="multipart/form-data">
                                    <!-- INPUT FOR TOPIC TITLE -->
                                    <div class="form-group row">
                                        <label for="topic title" class="col-sm-2 col-form-label">topic title</label>
                                        <div class="col-sm-10">
                                            <input required type="text" class="form-control" id="" name="topic_title"
                                                placeholder="topic title" value="">
                                        </div>
                                    </div>
                                    <!-- END OF INPUT FOR TOPIC TITLE -->
                                    <hr class="my-4" />

                                    <!-- input image on topic -->
                                    <div class="form-group row">
                                        <label for="topic image" class="col-sm-2 col-form-label">topic's image</label>
                                        <div class="col-sm-10">
                                            <input required type="file" class="form-control" name="image">

                                            <img src="" class="p-2 mt-2" height='50px' />
                                            <!-- <a href="">Click to Preview current image </a> -->
                                        </div>
                                    </div>
                                    <!-- end of input image  on topic -->
                                    <hr class="my-4" />

                                    <!-- input author -->
                                    <div class="form-group row">
                                        <label for="author" class="col-sm-2 col-form-label">Author</label>
                                        <div class="col-sm-10">
                                            <input required type="text" class="form-control" id="" name="author"
                                                placeholder="author" value="">
                                        </div>
                                    </div>
                                    <!-- end of input author -->

                                    <hr class="my-4" />

                                    <!-- input category -->
                                    <div class="form-group row">
                                        <label for="category" class="col-sm-2 col-form-label">Category</label>
                                        <div class="col-sm-10">
                                            <input required type="text" class="form-control" id="" name="category"
                                                placeholder="category" value="">
                                        </div>
                                    </div>
                                    <!-- end of input category -->

                                    <hr class="my-4" />

                                    <!-- Input Duration -->
                                    <div class="form-group row">
                                        <label for="duration" class="col-sm-2 col-form-label">Duration</label>
                                        <div class="col-sm-10">
                                            <input required type="text" class="form-control" id="" name="duration"
                                                placeholder="duration" value="">
                                        </div>
                                    </div>
                                    <!-- end of input duration -->

                                    <hr class="my-4" />

                                    <!-- Input Type -->
                                    <div class="form-group row">
                                        <label for="type" class="col-sm-2 col-form-label">Type</label>
                                        <div class="col-sm-10">
                                            <input required type="text" class="form-control" id="" name="type"
                                                placeholder="i.e Free or Featured" value="">
                                        </div>
                                    </div>
                                    <!-- end of input Type -->

                                    <hr class="my-4" />

                                    <!-- input summary content -->
                                    <div class="form-group row">
                                        <label for="summary" class="col-sm-2 col-form-label">summary</label>
                                        <div class="col-sm-10">
                                            <textarea name="summary" class="form-control" id="" cols="30" rows="5">

                                                    </textarea>
                                        </div>
                                    </div>
                                    <!-- end of summary content -->
                                    <hr class="my-4" />

                                    <!-- input topic content -->
                                    <div class="form-group row">
                                        <label for="content" class="col-sm-2 col-form-label">content</label>
                                        <div class="col-sm-10">
                                            <textarea name="content" class="form-control" id="" cols="30" rows="5">

                                                        </textarea>
                                        </div>
                                    </div>
                                    <!-- end of topic content -->
                                    <hr class="my-4" />

                                    <div class="form-group row d-flex justify-content-between float-left "
                                        style="width:100%">

                                        
                                            <button type="reset" class="btn btn-primary" name="reset">Clear Form</button>
                                        

                                        <div class="">
                                            <button type="submit" class="btn btn-primary">upload</button>
                                        </div>
                                    </div>

                                </form>

                            </main>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF MAIN CONTENT -->


                </div>
                <!-- SCRIPT -->
                <%- include('../partials/cmsScript.ejs') %>
                    <!-- END OF SCRIPT -->
                    <script type="text/javascript">
                        CKEDITOR.replace("summary", {
                            toolbar: [{
                                    name: 'basic',
                                    items: ['Font', 'Format', 'FontSize', 'TextColor', 'BGColor', '-', 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'Copy', 'Cut', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Image', '-', 'NumberedList', 'BulletedList']
                                },
                                // '/', {
                                //     name: 'insert',
                                //     items: ['Link', 'Unlink', 'Outdent', 'Indent', 'SpecialChar', 'InsertPre', 'HorizontalRule', 'PageBreak', '-', 'Image', '-', 'SelectAll', 'RemoveFormat', 'Undo', 'Redo', 'Maximize']
                                // },
                            ],
                            height: 200
                        });

                        CKEDITOR.replace("content", {
                            toolbar: [{
                                    name: 'basic',
                                    items: ['Font', 'Format', 'FontSize', 'TextColor', 'BGColor', '-', 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'Copy', 'Cut', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Image', '-', 'NumberedList', 'BulletedList']
                                },
                                '/', {
                                    name: 'insert',
                                    items: ['Link', 'Unlink', 'Outdent', 'Indent', 'SpecialChar', 'InsertPre', 'HorizontalRule', 'PageBreak', '-', 'Image', '-', 'SelectAll', 'RemoveFormat', 'Undo', 'Redo', 'Maximize']
                                },
                            ],
                            height: 200
                        });
                    </script>
    </div>
</body>

</html>