* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.body {
    margin-top: 0px;
    border: 1px none #000;
    font-size: 17px;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    height: 100%;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.container-2 {
    margin-top: -57px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
    background-color: #fff;
}

a {
    background-color: transparent;
}

img {
    border: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.w-webflow-badge,
.w-webflow-badge * {
    position: static;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    z-index: auto;
    display: block;
    visibility: visible;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    box-sizing: border-box;
    width: auto;
    height: auto;
    max-height: none;
    max-width: none;
    min-height: 0px;
    min-width: 0px;
    margin: 0;
    padding: 0;
    float: none;
    clear: none;
    border: 0 none transparent;
    border-radius: 0;
    background: none;
    background-image: none;
    background-position: 0 0;
    background-size: auto auto;
    background-repeat: repeat;
    background-origin: padding-box;
    background-clip: border-box;
    background-attachment: scroll;
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    transform: none;
    transition: none;
    direction: ltr;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: inherit;
    font-variant: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    text-decoration: inherit;
    text-indent: 0px;
    text-transform: inherit;
    list-style-type: disc;
    text-shadow: none;
    font-smoothing: auto;
    vertical-align: baseline;
    cursor: inherit;
    white-space: inherit;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
}

.w-webflow-badge {
    position: fixed !important;
    display: inline-block !important;
    visibility: visible !important;
    z-index: 2147483647 !important;
    top: auto !important;
    right: 12px !important;
    bottom: 12px !important;
    left: auto !important;
    color: #aaadb0 !important;
    background-color: #fff !important;
    border-radius: 3px !important;
    padding: 6px 8px 6px 6px !important;
    font-size: 12px !important;
    opacity: 1 !important;
    line-height: 14px !important;
    text-decoration: none !important;
    transform: none !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
    overflow: visible !important;
    white-space: nowrap;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.w-webflow-badge>img {
    display: inline-block !important;
    visibility: visible !important;
    opacity: 1 !important;
    vertical-align: middle !important;
}

.columns-2 {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}

.heading-5 {
    font-weight: 400;
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.div-block-27 {
    margin-top: 60px;
}

.div-block-28 {
    width: 80px;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
    float: right;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #a41ea9;
    text-align: left;
}

.text-block-14 {
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.heading-4 {
    text-align: center;
}

ul,
ol {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px;
}

.list-item-13 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-item-14 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-item-15 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.w-col-6 {
    width: 50%;
}

.column-3 {
    border-right: 2px solid hsla(208.50678733031677, 93.25%, 53.53%, 1.00);
}

.text-block-10 {
    font-size: 20px;
    text-align: right;
}

.text-block-12 {
    margin-top: 5px;
    color: hsla(208, 93%, 54%, 1);
    font-weight: 700;
    text-align: right;
}

.text-block-9 {
    font-size: 20px;
}

.text-block-11 {
    margin-top: 5px;
    padding-top: 0px;
    color: hsla(208, 93%, 54%, 1);
    font-weight: 700;
}

.div-block-26 {
    height: 300px;
    background-image: url("https://uploads-ssl.webflow.com/5ca1762ab7e3ed999e21008c/5ca17cefb7e3edd122211314_pavers-3549293_1920.jpg");
    background-position: 0px 0px;
    background-size: cover;
}